alembic==1.4.0
astroid==2.3.3
certifi==2019.11.28
Click==7.0
colorama==0.4.3
dominate==2.4.0
Flask==1.1.1
Flask-Bootstrap4==4.0.2
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
Mako==1.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
peewee==3.13.1
pylint==2.4.4
python-dateutil==2.8.1
python-dotenv==0.10.5
python-editor==1.0.4
six==1.14.0
SQLAlchemy==1.3.13
visitor==0.1.3
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.11.2
